@use '../../../base.scss';

.select-container {
  display: flex;
  flex-direction: column;
  gap: base.$spacing-sm;
  width: fit-content;

  .select-label {
    font-size: 1rem;
    color: base.$zinc-color;
  }

  .rs-select {
    width: 180px;
    font-size: 0.85rem;
  }

  .rs-indicator-separator {
    display: none;
  }

  .rs-control {
    border: 1px solid base.$input-color !important;
    border-radius: 8px !important;
  }

  .rs-control--is-focused {
    box-shadow: none !important;
  }

  .rs-dropdown-indicator {
    color: #667085 !important;
  }

  .rs-select-container--is-focused {
    outline: none;
    outline-offset: 2px !important;
    border-radius: 4px !important;
  }

  .rs-menu {
    border-radius: 8px !important;
  }
}
