@use '../../base';

.table-container {
  position: relative;
  width: 100%;
  overflow: auto;
  max-height: 500px;
  padding-right: base.$spacing-sm;

  @media (min-height: 950px) {
    max-height: 700px;
  }
}

.table {
  width: 100%;
  caption-side: bottom;
  font-size: 0.875rem;
  border-collapse: collapse;
}

.table-head {
  height: 3rem;
  padding-inline: base.$spacing-base;
  text-align: left;
  vertical-align: middle;
  font-weight: 500;
  color: #7a8596;
  background-color: white;
  z-index: 2;
  top: 0;
  position: sticky;
}

.table-row {
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(243, 244, 246, 0.5);
  }

  &:last-child {
    border-bottom: 0;

    .table-cell {
      border-bottom: 0;
    }
  }
}

.table-cell {
  padding: base.$spacing-base;
  vertical-align: middle;
  border-bottom: 1px solid base.$input-color;
}
