@use '../../base.scss';

.search-filters-container {
  display: flex;
  flex-direction: column;
  gap: base.$spacing-md;
  width: 100%;
}

.search-bar {
  @include base.flex-center;

  gap: base.$spacing-sm;
  border-radius: base.$spacing-sm;
  width: 100%;

  .search-input {
    flex: 1;
    padding: base.$spacing-md;
    border: 1px solid base.$input-color;
    outline: none;
    font-size: 1rem;
    gap: base.$spacing-sm;
    border-radius: 8px;
  }

  @mixin btn {
    padding: base.$spacing-md base.$spacing-lg;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    cursor: pointer;
    font-size: 1rem;
  }

  .search-button {
    @include btn;

    background-color: base.$primary-color;
    color: #fff;

    &:hover {
      background-color: base.$primary-color-dark;
    }
  }

  .reset-button {
    @include btn;

    background-color: base.$secondary-color;
    color: base.$slate-color;
  }
}

.search-filters-select-container {
  @include base.flex-center;

  justify-content: flex-start;
  gap: base.$spacing-lg;
}
