$primary-color: #2563eb;
$primary-color-light: #60a5fa;
$primary-color-dark: #1e40af;
$secondary-color: #f4f4f5;
$input-color: #e4e4e7;

$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 0.75rem;
$spacing-base: 1rem;
$spacing-lg: 2rem;

$max-width: 1000px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
}

.margin-block-lg {
  margin-block: $spacing-lg;
}

.app-content {
  @include flex-center;

  flex-direction: column;
  justify-content: flex-start;
  gap: $spacing-lg;
}
